nav {
    background-color: #585858;
    overflow: hidden;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed; /* rende la nav bar fissa in alto */
    top: 0; /* posiziona la nav bar all'inizio della pagina */
}

nav ul>li {
    display: inline-block;
}


nav ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;

    align-items: center;
    text-align: center;

    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

nav li {
    display: inline-block;

    justify-content: center;
    align-items: center;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #a7a7a7;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  
  header,
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 80vh; /* imposta l'altezza dell'header e del main al 80% dell'altezza della viewport */
  }